.wrapper{
    background: linear-gradient(rgba(232, 59, 117, 0.7), rgba(232, 59, 117, 0.7));
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    padding:1em 0;
   
}