// Couleurs
$primary-color: #4f46e5; // Indigo 600
$secondary-color: #06b6d4; // Cyan 400
$background-color: #f9fafb; // Light grey
$text-color: #1f2937; // Gray-800

// Typographie
$font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
$base-font-size: 1em;


