// Couleurs
$primary-color: #e83b75; // rose
$secondary-color: #06b6d4; // Cyan 400
$background-color: #f9fafb; // Light grey
$text-color: #1f2937; // Gray-800
$link-color: #ffe6f2;
$title-color: #fff;

// Typographie
$font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
$base-font-size: 1em;


